.vscode/
*.code-workspace

[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

*.dll
*.exe
*.pdb
*.user
*.cache

.vs/
*.suo
*.userprefs
*.idea

TestResult/
*.trx

*.coverage
*.coveragexml
coverage/
CoverageReport/

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

*.log

*.tmp
*.temp

*~
*.bak
*.backup